<div class="sort-by"  [attr.id]="labelId" (click)="sort($event)" [class.active] = "active">
  <span [attr.id]="labelId">{{label}} </span>
  <svg class="icon-sort"  [attr.id]="labelId" data-name="Group 1237" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
    <rect id="Rectangle_1322" data-name="Rectangle 1322" width="16" height="16" transform="translate(16 16) rotate(180)" fill="none"/>
    <path [attr.id]="labelId" data-name="Path 594" d="M318.836,445l-6-6-6,6" transform="translate(-304.836 -434)" fill="none" stroke="#7f7f7f" stroke-miterlimit="10" stroke-width="2"/>
  </svg>
</div>

