.change-pass-container {
  margin: 40px auto;
  width: 40%;
  min-width: 600px;
  margin-top: 70px;
}

.form-group  {
  position: relative;

  img {
    position: absolute;
    right: 10px;
    top: 37px;
  }
}
