<div class="card change-pass-container">
  <div class="card-header">
    Password Change
  </div>
  <div class="form-content mx-20 my-20">
        <form [formGroup]="formChangePass">
          <div class="form-group">
            <label for="currentPassword" class="form-label">Current password</label>
            <input id="currentPassword" #currentPassword class="form-control" type="password" formControlName="current_password" />
            <img src="assets/images/icon_unvisible.svg" (click)="currentPassword.type = 'text'" [hidden]='currentPassword.type==="text"'>
            <img src="assets/images/icon_visible.svg" (click)="currentPassword.type = 'password'"
                 [hidden]="currentPassword.type==='password'">
          </div>
          <div class="form-group">
            <label for="newPassword" class="form-label">New password</label>
            <input id="newPassword" #newPassword class="form-control" type="password" formControlName="new_password" />
            <img src="assets/images/icon_unvisible.svg" (click)="newPassword.type = 'text'" [hidden]='newPassword.type==="text"'>
            <img src="assets/images/icon_visible.svg" (click)="newPassword.type = 'password'"
                 [hidden]="newPassword.type==='password'">
          </div>
          <div class="form-group">
            <label for="confirmPassword" class="form-label">Confirm password</label>
            <input id="confirmPassword" #confirmPassword class="form-control" type="password" formControlName="confirm_password" />
            <img src="assets/images/icon_unvisible.svg" (click)="confirmPassword.type = 'text'" [hidden]='confirmPassword.type==="text"'>
            <img src="assets/images/icon_visible.svg" (click)="confirmPassword.type = 'password'"
                 [hidden]="confirmPassword.type==='password'">
          </div>

          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-primary" (click)="changePassword()">Password change</button>
          </div>
        </form>
  </div>
</div>

